*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 10px;
    grid: 1fr 2fr 1fr / repeat(4,1fr);
}

[class^="item"]{
    color: #fff;
}
.container > *{
    color: #ffffff;
    font-size: 20px;
}

.header{
    background: green;
}

.main{
    background: orange;
}

.sidebar{
    background: blue;
}

.footer{
    background: gray;
}